// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$blash: #da627d;
$maroon: #632038;
$bisque: #f7f0e9;
$tyrian: #2b0110;
