// Specific CSS for your home-page

h1 {
  font-size: 48px;
  color: $bisque;
}

.ctrl-btn {
  background-color: $maroon;
}

.ctrl-btn:hover {
  background-color: rgb(146, 39, 78);;
}

.wrapper {
  align-items: center;
}
