<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'banner.jpg' %>');">
    <h1>Rent an instrument and live your creativity</h1>
    <p>Change your life and rent an amazing instrument in your city</p>
    <a class="button-green" href="#">All instruments</a>
  </div>
</div>
