<div class="banner" style="background-image: url('<%= image_path 'https://unsplash.com/photos/gUK3lA3K7Yo' %>');">
    <h1>Rent an instrument and live your creativity</h1>
    <p>Change your life and rent an amazing instrument in your city</p>
    <a class="btn btn-primary" href="#">Sign in</a>
    <a class="btn btn-success" href="#">All instruments</a>
  </div>
</div>

<img src="" alt="">