.button-green {
  color: $bisque;
  padding: 8px 24px;
  border-radius: 50px;
  background: $maroon;
  transition: background 0.3s ease;
  text-align: center;
}

.button-green:hover {
  background: #a52e5a;
  color: $bisque;
  text-decoration: none;
}

.button-white {
  color: grey;
  border: 1px solid rgb(230,230,230);
  padding: 8px 24px;
  border-radius: 50px;
  background: white;
  transition: background 0.3s ease;
}

.button-white:hover {
  background: #bad3d0;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 5px rgb(230,230,230);
}

