.button-green {
  color: $bisque;
  padding: 8px 24px;
  border-radius: 50px;
  background: $maroon;
  transition: background 0.3s ease;
}

.button-green:hover {
  background: #a52e5a;
  color: $bisque;
  text-decoration: none;
}
