.element-container{
  background-color: white;
  border-radius: 8px;
  padding: 32px;
  margin: auto;
  border: 1px solid rgb(230,230,230);
  width: 900px;
  align-items: center;
}

.card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card p {
  opacity: .5;
}

.card {
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 16px;
  border: 1px solid rgb(230,230,230);
  margin-bottom: 60px;
  height: 290px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-instrument {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 320px;
}

.card-instrument > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-instrument h3 {
  font-size: 16px;
  margin: 0;
}
.card-instrument h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
.card-instrument a {
  color: black;
}

.card-instrument p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-instrument .card-instrument-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-instrument .card-instrument-infos .card-instrument-pricing {
  align-items: flex-end;
}

