.button-white {
  color: grey;
  border: 1px solid rgb(230,230,230);
  padding: 8px 24px;
  border-radius: 50px;
  background: white;
  transition: background 0.3s ease;
}

.button-white:hover {
  background: $bisque;
  color: white;
  text-decoration: none;
  box-shadow: 0 0 5px rgb(230,230,230);
}

