<h1>Instruments</h1>
<%= link_to "New Instrument", new_instrument_path, class: "button-green" %>
<ul>
  <% @instruments.each do |instrument| %>
  <li> <%= instrument.name%> <%= image_tag instrument.photo %></li>
  <% end %>
</ul>
